/* @import url(https://fonts.googleapis.com/css?family=Permanent+Marker); */

body
{
  font-family: 'Architects Daughter', 'cursive', 'sans-serif';
  font-size: 20px;
  text-align: center;
  background-color: #ffd8f1;
}

#hangman-artwork
{
  width: 30%;
}

#headerh1
{
  font-size: 70px;
  color: #46aaff;
}

@import "compass/css3";
#body, #Head, #left_arm, #right_arm, #left_leg, #right_leg, #right_eye, #Left_eye, #frown
{
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

@keyframes flash
{
    from {color: #46aaff;}
    to {color: #94ff91;}
  to {color: #fc92ca;}
}

.flash
{
   animation-name: flash;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

#headerh2
{
  font-size: 45px;
  color: #000;
}

/*.cls-1
{
  stroke: #000;
  stroke-width: 3px;
}*/


.word-and-guess label
{
  display: block;
  margin-bottom: 10px;
}

.word-and-guess input
{
  max-width: 25px;
  border: thin dashed #333;
  text-align: center;
  padding: 0 10px 5px;
  font-size: 2em;
}

.current-word
{
  font-size: 2em;
}

.show-piece
{
  display: block !important;
  opacity: 1 !important;
}

.reset-screen
{
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

.reset-screen button
{
  cursor: pointer;
}

.wrong-letters-label
{
  display:block;
}

.wrong-letters
{
  font-size: 1.5em;
  text-decoration: line-through;
}

#Visual
{
  width: 50%;
  position: absolute;
}

#input
{
  float: right;
  margin-right: 200px;
  margin-top: 200px;
}
